
* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  margin: 0;
  padding: 0;
}
.index{
  min-height: 100vh;
  background-color: black;
  display: flex;
  padding-top: 6rem;
  overflow: hidden;
}
.intro h2{
  color: white;
  font-weight: 100;
}
.intro h2 span{
  color: #FF00B8;
  font-weight: bold;
}
.navIndex{
  background: #000000;
  box-shadow: 6px 8px 22px #FF00B8;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  width: 120px;
  height: 160px;
  justify-content: center;
  align-items: center;
  margin-left: -4rem;
  margin-top: 10rem;
}
.navIndex a{
/* padding: .5rem; */
cursor: pointer;
 color: white !important;
 text-decoration: none;
 font-weight: 400;
text-transform: capitalize;
}
.nav a:hover{
/* padding: .5rem; */
cursor: pointer;
 color: palevioletred !important;
}
.avatar{
  display: flex;
  align-items: center;
  margin-top: 12rem;
}
.wrap-avatar{
  width: 25vw;
}
.wrap-avatar img{
  width: 100%;
  object-fit: cover;
  
}
.wrap-navigasi{
  animation: App-logo-spin 1500ms linear infinite alternate ;

}
@keyframes App-logo-spin {
  from {
    transform: translateY(-7px)
  }
  to {
    transform: translateY(7px)
  }
}
.star {
  position: absolute;
  overflow: hidden;
  bottom :0;
  left : 0;
  right: 0;
  height: 30vh;
}
.star img{
   animation: maniac 15s linear infinite;
}
@keyframes maniac {
  from {
    transform:translateY(0); 
  }
  to {
    transform:translateY(93vh);
  

  }
}


/* HOme */
.home{
  width: 100vw;
  height: 100vh;
  overflow: hidden;

}
.konten-test{
  scroll-snap-type: x mandatory;
  overflow-x: scroll;
  overflow-y: hidden;
  display: flex;
}
.home .kontainer {
  flex: none;
  scroll-snap-align: start;
  height: 100vh;
  width: 100%;
}
.home .kontainer.about {
  background-color: blue;
}
.home .title-about {
  background-color: salmon;
  padding: .3rem;
}
.home .front-end{
  border-bottom: 3px solid salmon;
}
.home .arrow{
  width: 2rem;
  margin-left: 1rem;
}
.home .arrow img{
  width: 100%;
  object-fit: contain;
}
.home #about p{
  font-size: 23px;
}
.home .slider{
  animation: slider 1100ms linear infinite alternate ;
  
}
.home .wrap-nama{
    margin: 12rem;
    transform: rotate(90deg);
    translate: -9.6rem;
}
.home .icon-kontak img{
  width: 100%;
  object-fit: cover;
  padding-bottom: 1rem;
}
@keyframes slider {
  from {
    transform: translateX(-10px)
  }
  to {
    transform: translateX(10px)
  }
}
.home .kontainer.skill {
  background-color: yellow;
}
.home .kontainer.kontak {
  background-color: white;
}
.sidebar{
  background-color: #000000;
}
.sidebarHome{
  display: flex;
  flex-direction: column;
}
.sidebarHome a{
  text-decoration: none;
  font-size: 24px;
  line-height: 50px;
  color: salmon;
  font-weight: 500;
}
.icon-kontak:hover {
  transform: scale(80%);
  transition: 2000ms;
}
.sidebarHome a:hover, .sidebarHome a:focus  {
  color: white;
}
.btn-pointer{
  cursor: pointer;
}
.home .kontainer.about .sidebar, .home .kontainer.Portofolio .sidebar{
  background-color: white;
  color: #000000;
}
.foto img{
  width: 100%;
  object-fit: cover;
}


.home .kontainer.about,.home .kontainer.Portofolio  {
  background-color: black;
  color: white;
}
::-webkit-scrollbar{
  display: none;
}
.konten{
  height: 100%;
}
.konten h2{
font-style: normal;
font-weight: 600;
font-size: 21px;
line-height: 44px;
width: 16rem;
}
.konten .info{
  justify-content: space-between;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding-bottom: 5rem;
}
.nama{
  min-width: 25vw;
}
.konten .accordion-header {
  transform: rotate(0); 
  width: 100%;

}
.col-1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.h1{
  width: 13rem;
  translate:-35% -7rem;
}

.isi-konten{
  flex-direction: column;
}
.isi-konten .skil-title {
  color: salmon;
}
.isi-konten {
  font-size: 23px;
}

/* sidebar */
.sidebar{
  color: white;
}
/* card */
.card {
  color: #000000;
}
.card img{
  width: 100%;
  object-fit: cover;
}
/* isi porto */
.all-porto{
  overflow: scroll;
  height: 70vh;
}
#porto span{
  color: salmon;
}
#porto .nav-link{
  color: black;
}
#porto .btn{
  background-color: salmon;
}
#porto .nav-link:hover, #porto .nav-link:focus{
  color: salmon;
}

@media only screen and (max-width: 992px) {
  .kontak-wrap{
   flex-direction: column; 
  }
  .nav-mobile{
    display: flex !important;
  }
  .side-mobile.col-3 {
    display: none !important;
  }
  .konten .isinya{
    flex-direction: column-reverse;
  }
  .home .kontainer{
    height: 100%;
  }
  .isi-konten h1 {
    text-align: center;
}
.foto.ms-5 {
  margin-left: 0!important;
}
.about-test{
  margin-top: 1rem;
}
}
.sidemobile{
  position: absolute;
  background: #000000;
  color: white;
  right: 0;
  left: 0;
  bottom: 0;
  top: 0;
}
.menubar{
  z-index: 2;
  position: absolute;
  left:1rem;
  top:1rem
}
.nav-mobile{
  display: none;
}
.sidemobile a{
  color: #FF00B8;
  font-size: 31px;
  line-height: 3rem;
  text-decoration: none;
}

#kontak .btn{
  background-color: salmon;
}
#kontak span{
  border-bottom:3px solid salmon;
}
#kontak .kontak-kirim{
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#kontak .kontak-kirim h3{
  color: white;
}
#kontak .kontak-kirim .wrap-terkirim{
  border-radius: 1rem;  
}